/* App.vue and Home.vue */
#app {
  min-height: 100%;
  box-sizing: border-box;
  padding-bottom: 64px;
}

.centered-page {
  width: 100%;
  max-width: 1264px;
  box-sizing: border-box;
  padding: 16px;
  margin: auto;
}

.better-scrollbar::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  height: 10px;
  width: 10px;
}

.better-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

a {
  text-decoration: inherit;
}

.itunes-link {
  display: inline-block;
  overflow: hidden;
  background-image: url('https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=&kind=artist&bubble=apple_music');
  background-repeat: no-repeat;
  width: 158px;
  height: 45px;
}

#home-page h1 {
  color: white;
  font-size: 96px;
  text-align: center;
  margin: 32px 0;
}

#home-page h2 {
  font-size: 35px;
  color: white;
  text-align: center;
  margin-top: 56px;
  margin-bottom: 8px;
}

/* Album.vue */

#album-cover {
 width: 40%;
 max-width: 400px;
}

#album-card {
 display: flex;
 justify-content: center;
 padding-top: 20px;
 padding-bottom: 20px;
 padding-left: 20px;
 padding-right: 20px;
}

.exposant {
 position: relative;
 bottom: 1px;
 font-size: .8em;
 line-height: .8em;
 vertical-align: super;
 text-decoration: none;
}

#apple-music-link {
 margin-top: 30px;
}

#info-album {
 display: flex;
 flex-direction: column;
 color: white;
}

#songs-number, #songs-title, #songs-lenght {
 color: white;
}

#liste-title {
 color: white;
 font-size: 20px;
}

#lines-between-songs {
 border-top: solid white 1px;
}

@media (max-width: 600px) {

 #album-cover {
   width: 90vw;
   max-width: 400px;
   position: absolute;
   filter: blur(2px);
   opacity: 0.5;
   z-index: 1;
 }

 #info-album {
   z-index: 2;
 }

 #album-card {
   height: 95vw;
   max-height: 440px;
   min-height: 300px;
   padding: 0;
   margin-top: 20px;
 }
}

/* Artist.vue */

#artist-page {
  width: 100%;
  padding-top: 56px;
  color: white;
}

#artist-page #title {
  text-align: center;
  margin-bottom: 56px;
}

#artist-page #title h1 {
  margin-bottom: 0.1em;
  font-size: 96px;
  font-weight: 300;
  line-height: 1em;
  letter-spacing: -.04em;
}

#artist-page #title h2 {
  font-size: 36px;
  line-height: 1.5em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.68);
}

#artist-page #title a {
  margin-top: 16px;
}

@media screen and (max-width: 1263px) {
  #artist-page #title h1 {
    font-size: 54px;
  }

  #artist-page #title h2 {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  #artist-page {
    padding-top: 24px;
  }

  #artist-page #title {
    margin-bottom: 32px;
  }

  #artist-page #title h1 {
    font-size: 42px;
  }

  #artist-page #title h2 {
    font-size: 20px;
  }
}
