/* App.vue and Home.vue */
#app {
  min-height: 100%;
  box-sizing: border-box;
  padding-bottom: 64px;
  color: white;
}

.centered-page {
  width: 100%;
  max-width: 1264px;
  box-sizing: border-box;
  padding: 16px;
  margin: auto;
}

.page {
  padding-top: 56px;
}

.better-scrollbar::-webkit-scrollbar {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  height: 10px;
  width: 10px;
}

.better-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}

.large-thin-title {
  margin-bottom: 0.1em;
  font-size: 96px;
  font-weight: 300;
  line-height: 1em;
  letter-spacing: -.04em;
}

.large-thin-subtitle {
  font-size: 36px;
  line-height: 1.5em;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.68);
}

.centered-title {
  text-align: center;
  margin-bottom: 56px;
}

a {
  text-decoration: inherit;
}

.inputStyle{
  background-color: white;
  color: black;
}

.itunes-link {
  display: inline-block;
  overflow: hidden;
  background-image: url('https://linkmaker.itunes.apple.com/en-us/badge-lrg.svg?releaseDate=&kind=artist&bubble=apple_music');
  background-repeat: no-repeat;
  width: 158px;
  height: 45px;
  margin-top: 30px;
}

#home-page h1 {
  color: white;
  font-size: 96px;
  text-align: center;
  margin: 32px 0;
}

#home-page h2 {
  font-size: 35px;
  color: white;
  text-align: center;
  margin-top: 56px;
  margin-bottom: 8px;
}

.exposant {
 position: relative;
 bottom: 1px;
 font-size: .8em;
 line-height: .8em;
 vertical-align: super;
 text-decoration: none;
}

/* Artist.vue */

#artist-page #itunes-link {
  margin-top: 16px;
}

@media screen and (max-width: 1263px) {
  .large-thin-title {
    font-size: 54px;
  }

  .large-thin-subtitle {
    font-size: 24px;
  }
}

@media screen and (max-width: 600px) {
  .page {
    padding-top: 24px;
  }

  .centered-title {
    margin-bottom: 32px;
  }

  .large-thin-title {
    font-size: 42px;
  }

  .large-thin-subtitle {
    font-size: 20px;
  }
}
